
<img id='cam' src='/cam' width="300" />
<script>
setInterval(function() {
    var myImageElement = document.getElementById('cam');
    myImageElement.src = '/cam?rand=' + Math.random();
}, 1100);
</script>
<p>
<a class='btn btn-small btn-default' href='/door'>Open Door</a>
<a class='btn btn-small btn-default' href='/ding'>Ding</a>
<a class='btn btn-small btn-default' href='/users'>Users</a>
</p>

